*{
    margin: 0;
    padding: 0;
}
h1{
    color: #400406;
    font-size: 8vmin;
}
body{
   background-color: #515A47;
   text-align: center;

    
}
.container{
    height: 70vh;
    display: flex;

    align-items: center;
    justify-content: center;
}
   

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    font-size: 10vmin;
    color: #7A4419;
    background-color: #D7BE82;
}
#resetbtn{
    padding: 1rem;
    font-size: 1rem;
    background-color:#400406;
    color: white;
    border-radius: 15px;
    border: none;
}
#newbtn{
    background-color: #400406;
    color:white;
    font-size: 1rem;
    padding: 1rem;
    font-size: 4vmin;
    border-radius: 15px;
    border: none;
}
#msg{
   color: #D7BE82;
   font-size: 6vmin;


}
.mess-cont{
    
    height: 70vmin;
    justify-content: center;
    align-items: center;
    padding: 20vmin;
    font-size: 16vmin;

}
.hide{
    display: none;
}